<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Aplikacja webowa flask - kurs kodilla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="webpage">
    <div class="header"><h1>Aplikacja webowa - kurs kodilla</h1></div>
    <div class="content">
        <div class="left">
            <ul>
                <li><a href="/cur">Przelicznik walut</a></li>
                <li>jakiś link w przyszłości</li>
        </div>
        <div class="right">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>